@font-face {
    font-family: "Inika"; 
    src: url("./assets/fonts/Inika/Inika-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "Inter"; 
    src: url("./assets/fonts/Inter/static/Inter-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

body {
    margin: 0px;
    padding: 0px;
}
.header {
    padding: 0px 110px;
    height: 134px;
    background: #EDF2EC;
}

.header_container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}
.header img{
    width: 79px;
    height: 21px;
}

.menu ul li{
    list-style: none;
    display: inline;
    padding: 0px 23px;
}
.menu ul li:last-child{
    padding-right: 0px;
}

.menu ul li a{
    text-decoration: none;
    color: #010201;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
}

.menu ul li a:hover,
.menu ul li a:focus  {
    color: #E06733;
}

.welcome {
    width: 100%;
    height: 532px;
    background: #EDF2EC;
    display: flex;
    
}
.welcome img{
    width: 448.8px;
    height: 407.36px;
    margin-left: 109px;
    margin-top: 62px;
    margin-right: 224px;
}

.welcome h1{
width: 549px;
height: 101px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 50px;
font-family: 'Inter-Regular';
}