@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    padding: 0;
    border: 0;
  }
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
:focus, :active {
    outline: none;
  }
  
a:focus, a:active {
    outline: none;
  }
  
nav, footer, header {
    display: block;
  }
html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

html {
    scroll-behavior: smooth; 
  }

.body {
    font-family: 'Inika', normal;
    font-size: inherit;
   
}
input::-ms-clear {
    display: none;
  }

img {
    max-width: 100%;
    height: auto;
  }


header, footer, section {
    margin: auto;
    width: 1220px;
    padding: 0px 110px;
}

.header {
    height: 134px;
    background: #EDF2EC;
    
}

.header_container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}
.header img{
    width: 79px;
    height: 21px;
}

.menu ul li{
    list-style: none;
    display: inline;
    padding: 0px 23px;
}
.menu ul li:last-child{
    padding-right: 0px;
}

.menu ul li a{
    text-decoration: none;
    color: #010201;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
}

.menu ul li a:hover,
.menu ul li a:focus  {
    color: #E06733;
    transition: 0.5s;
}

.welcome {
    height: 532px;
    background: #EDF2EC;
    display: flex;
    
}
.welcome img{
    width: 448.8px;
    height: 407.36px;
    margin-top: 62px;
    margin-right: 224px;
}

.welcome h1{
    height: 101px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}
.colortext {
    color:  #499A18;
}
.welcome_container{
    width: 549px;
    height: 340px;
}

.welcome_container p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px; 
    color: #636060;
}
.learnmore{
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    font-family: 'Inter';
    font-size: 16px;
    color: #000000;
    background-color: #EDF2EC;
}
.learnmore a{
    text-decoration: none;
    color: #000000;
} 

.learnmore:hover,
.learnmore:focus  {
    background: #E06733;
    color: #FFFFFF;
    cursor: pointer;
    transition-duration: 1s;
} 

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 666px;
    background: #FFFFFF;
}

.about h2{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #E06733;
    margin-top: 100px;
}

.about p{
    width: 605px;
    height: 208px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

.about img{
width: 464px;
height: 479px;
}

.service{
    height: 1300px;
    background: #EDF2EC;
}

.services_content{
    display: flex;

}
.service h2{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}
.service_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service_buttons{
    width: 559px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 157px;
}
.service_buttons a{
    text-decoration: none;
    color: #E06733;
}
.service_button:hover,
.service_button:focus  {
    background: #E06733;
    color: #FFFFFF;
    cursor: pointer;
    transition-duration: 1s;
}

.service_button{
    box-sizing: border-box;
    width: 161px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    background-color: #EDF2EC;
    }

.service_container h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 0px;
    color: #E06733;
    }
.service_container p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 5px;
    color: #717171;
    }
.service_item{
    width: 328px;
    height: 100px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 55px;
    }
.service_item img{
    width: 329px;
    height: 350px;
}
.prices__wrapper {
display: flex;
flex-wrap: wrap;
}
.prices{
    font-family: 'Inter';
    font-style: normal; 
}

.prices h2{
    font-weight: 700;
    font-size: 40px; 
    line-height: 50px; 
}
.prices h2{
    line-height: 48px; 
}
summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.slidedown_wrapper {
  max-width: 332px;
  max-height: 406px;
  overflow: hidden;
  padding: 32px 41px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  margin-top: 60px;
}
  
  .slidedown {
    max-width: 250px;
  }
  
  .slidedown_item {
    background-color: #D6E7D2;
    border-radius: 20px;
    margin-bottom: 32px;
    overflow: hidden;
  }
  .slidedown_item:last-child {
    margin-bottom: 0;
  }


  
  .slidedown_item[open] .slidedown_title {
    background-color: #D6E7D2;
    padding: 16px 120px 9px 40px;
    box-sizing: border-box;
  }
  
  .slidedown_title {
    width: 100%;
    background-color: #EDF2EC;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding: 17px 120px 15px 40px;
    cursor: pointer;
    position: relative;
    font-family: 'Inter';
  }
  .slidedown_title:hover {
    background-color: #D6E7D2;
  }

  
  .slidedown_body {
    color: #717171;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1rem;
    padding: 6px 40px 12px 41px;
    position: relative;
  }
  .slidedown_body::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    max-width: 164px;
    width: 100%;
    border-bottom: 0.5px solid #AEA1A1;
  }
  .slidedown_body > .button_slidedown {
    margin-top: 12px;
  }
  
  .slidedown_description {
    margin-bottom: 6px;
    color: #717171;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
  }
  
  .slidedown_price {
    color: #E06733;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
  }
  
  .slidedown_hour {
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }

  .prices {
    padding-top: 38px;
  }

  .prices_wrapper {
    display: flex;
    justify-content: space-between;
  }

  .prices_title {
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.8rem;
    color: #000000;
    margin-bottom: 60px;
  }
  @media screen and (max-width: 768px) {
    .prices_title {
      padding-left: 14px;
      font-size: 3.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: 4.2rem;
      margin-bottom: 55px;
    }
  }
  @media screen and (max-width: 380px) {
    .prices_title {
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: 3.5rem;
      padding-left: 0;
      text-align: center;
      margin-bottom: 33px;
    }
  }
  
  .prices_info {
    text-align: right;
    padding-bottom: 115px;
  }
  
  .prices_info > .button_service {
    padding: 12px 33px;
    margin-right: 0;
    margin-bottom: 35px;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.6rem;
  }
 
    .prices_info > .button_service {
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2rem;
      padding: 8px 23px;
      margin-bottom: 0;
    }
  
  .info_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;  
    text-align: right;
    max-width: 452px;
    margin-bottom: 40px;
  }
 
  .prices_img {
    margin-top: 39px;
  }

.contact_us{
    width: 162px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #E06733;
    background-color: white;
}
.contact_us:hover,
.contact_us:focus  {
    cursor: pointer;
    background: #E06733;
    color: #FFFFFF;
    cursor: pointer;
    transition-duration: 1s;
    
}

.prices_border{
    width: 332px;
    height: 282px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
        
}
.prices_item{
    width: 250px;
    height: 50px;
    background: #EDF2EC;
    border-radius: 20px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin-top: 60px;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.slidedown_body > .button_accordion {
    margin-top: 12px;
}
.button_slidedown {
    color: #717171;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding: 3px 20px;
    border-radius: 10px;
    background: #FFFFFF;
}

.button {
    cursor: pointer;
}
.contacts{
    position: relative;
    height: 550px;
    background: #EDF2EC;
}
.contacts h2{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    width: 1220px;
    text-align: center;
    display: inline-block;
}
.contacts img{
    position: absolute;
    width: 400px;
    height: 496.99px;
    top: 53px;
}

.city_container{
    position: absolute;
    width: 450px;
    height: 50px;
    left: 881px;
    top: 148px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    border-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
}
.footer-container {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.footer a{
    text-decoration: none;
    color: #000000;
 }
 .social-icons {
    text-align: center;
    }  
  .social-icons li {
    display:inline-block;
    list-style-type:none;
    }
  .social-icons li a {
    border-bottom: none;
    }
  .social-icons li img {
    width: 32px;
    height: 32px;
    margin-right: 20px;
  }
